.example-card {
    max-width: 300px;
    margin:20px;
    float: left;
    height: 400px;
  }
  
  .example-header-image {
    background-image: url('http://localhost/icon.png');
    background-size: cover;
  }

  p{
    padding:20px;
  }